APPLE_PRODUCT_CODE=
APPLE_NOTIFY_WEBHOOK=https://discord.com/api/webhooks/xxx/yyy
APPLE_TARGET_URL=https://www.apple.com/jp/shop/buy-iphone/
APPLE_CHECK_INTERVAL_SECONDS=30
APPLE_TARGET_MODEL=iPhone 17 Pro Max
APPLE_TARGET_STORAGE=256GB
APPLE_TARGET_COLOR=ナチュラルチタニウム
APPLE_OPEN_PRODUCT_PAGE_ON_HIT=false
APPLE_NOTIFY_MENTION=@here
